@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 599px) {
  .sp {
    display: block;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .sp {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .sp {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  body {
    color: #000;
    background-color: #F8F6F5;
    line-height: 1.8;
    letter-spacing: 0.08em;
    font-size: calc(1.2rem + 4 * (100vw - 320px) / 379);
    font-family: "Darker Grotesque", sans-serif;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  body {
    color: #000;
    background-color: #F8F6F5;
    line-height: 1.8;
    letter-spacing: 0.08em;
    font-size: calc(1.2rem + 4 * (100vw - 600px) / 424);
    font-family: "Darker Grotesque", sans-serif;
  }
}
@media screen and (min-width: 1025px) {
  body {
    color: #000;
    background-color: #F8F6F5;
    line-height: 1.8;
    letter-spacing: 0.08em;
    font-size: 1.6rem;
    font-family: "Darker Grotesque", sans-serif;
  }
}

@media screen and (max-width: 599px) {
  .btn {
    display: inline-block;
    width: 200px;
    height: 48px;
    border: 1px solid #000;
    position: relative;
    top: -8px;
    right: -8px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .btn:hover::before {
    top: -1px;
    left: -1px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .btn::before {
    content: "もっと見る";
    color: #000;
    background-color: #F8F6F5;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    left: -8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .btn {
    display: inline-block;
    width: 280px;
    height: 48px;
    border: 1px solid #000;
    position: relative;
    top: -10px;
    right: -10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .btn:hover::before {
    top: -1px;
    left: -1px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .btn::before {
    content: "もっと見る";
    color: #000;
    background-color: #F8F6F5;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}
@media screen and (min-width: 1025px) {
  .btn {
    display: inline-block;
    width: 280px;
    height: 48px;
    border: 1px solid #000;
    position: relative;
    top: -10px;
    right: -10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .btn:hover::before {
    top: -1px;
    left: -1px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .btn::before {
    content: "もっと見る";
    color: #000;
    background-color: #F8F6F5;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

@media screen and (max-width: 599px) {
  .wrapper {
    width: 86%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .wrapper {
    width: 86%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 599px) {
  .header {
    position: fixed;
    z-index: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.56);
  }
  .header__logo {
    padding-left: 24px;
    font-size: 2rem;
  }
  .header__hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(157, 162, 166, 0.5137254902);
  }
  .header__hamburger-line {
    display: block;
    position: absolute;
    width: 30px;
    height: 1px;
    left: 16px;
    background: #A09A91;
    -webkit-transition: 0.1s ease-in-out;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 4px;
  }
  .header__hamburger-line:nth-child(1) {
    top: 19px;
  }
  .header__hamburger-line:nth-child(2) {
    top: 29px;
  }
  .header__hamburger-line:nth-child(3) {
    top: 39px;
  }
  .header .active {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header .active .header__hamburger-line {
    background: #F8F6F5;
    border-radius: 4px;
  }
  .header .active .header__hamburger-line:nth-child(1) {
    top: 29px;
    left: 16px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header .active .header__hamburger-line:nth-child(2), .header .active .header__hamburger-line:nth-child(3) {
    top: 29px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header__list {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    width: 100%;
    height: 100vh;
    background-color: #F8F6F5;
    text-align: center;
    padding-top: 120px;
  }
  .header__list-item {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  .header__list-link {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 24px 0;
  }
  .header .active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .header {
    position: fixed;
    z-index: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.56);
  }
  .header__logo {
    padding-left: 24px;
    font-size: 2rem;
  }
  .header__hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(157, 162, 166, 0.5137254902);
  }
  .header__hamburger-line {
    display: block;
    position: absolute;
    width: 30px;
    height: 1px;
    left: 16px;
    background: #A09A91;
    -webkit-transition: 0.1s ease-in-out;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 4px;
  }
  .header__hamburger-line:nth-child(1) {
    top: 19px;
  }
  .header__hamburger-line:nth-child(2) {
    top: 29px;
  }
  .header__hamburger-line:nth-child(3) {
    top: 39px;
  }
  .header .active {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header .active .header__hamburger-line {
    background: #F8F6F5;
    border-radius: 4px;
  }
  .header .active .header__hamburger-line:nth-child(1) {
    top: 29px;
    left: 16px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header .active .header__hamburger-line:nth-child(2), .header .active .header__hamburger-line:nth-child(3) {
    top: 29px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header__list {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    width: 100%;
    height: 100vh;
    background-color: #F8F6F5;
    text-align: center;
    padding-top: 120px;
  }
  .header__list-item {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  .header__list-link {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 24px 0;
  }
  .header .active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    height: 120px;
    line-height: 120px;
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    background-color: #F8F6F5;
  }
  .header__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 80px;
  }
  .header__logo {
    font-size: 8rem;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list-item {
    margin-left: 40px;
  }
  .header__list-btn {
    margin-left: 40px;
    padding: 10px;
    text-align: center;
  }
  .header__list-link {
    color: #000;
    position: relative;
    font-size: 2rem;
  }
  .header__list-link::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: -15px;
    opacity: 0;
    background-color: #ffff00;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: -1;
  }
  .header__list-link:hover::after {
    opacity: 1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    height: 80%;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .header__list-btnlink {
    font-size: 2rem;
    display: block;
    color: #F8F6F5;
    background-color: #A09A91;
    width: 160px;
    height: 46px;
    line-height: 46px;
    border-radius: 50px;
  }
}

@media screen and (max-width: 599px) {
  .bg {
    background-image: url(/src/img/main_small.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    width: 100vw;
    margin: 60px auto 80px;
    position: relative;
  }
  .bg__box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 500px;
    height: 200px;
  }
  .bg__box-catch {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    font-size: 2rem;
    letter-spacing: 0.4em;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .bg {
    background-image: url(/src/img/main_large.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    width: 100vw;
    margin: 60px auto 120px;
    position: relative;
  }
  .bg__box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 500px;
    height: 200px;
  }
  .bg__box-catch {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    font-size: 2rem;
    letter-spacing: 0.4em;
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .bg {
    background-image: url(/src/img/main_large.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 120px);
    width: calc(100% - 160px);
    margin: 120px auto 240px;
    position: relative;
  }
  .bg__box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 500px;
    height: 200px;
  }
  .bg__box-catch {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    font-size: 5rem;
    letter-spacing: 0.4em;
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  .main .live {
    margin-bottom: 120px;
  }
  .main .live__flex {
    width: 100%;
  }
  .main .live__textbox {
    width: 100%;
    margin-bottom: 80px;
  }
  .main .live__sectitle {
    margin-bottom: 40px;
  }
  .main .live__sectitle-en {
    font-size: calc(5rem + 4 * (100vw - 320px) / 379);
    display: block;
    line-height: 1;
  }
  .main .live__sectitle-ja {
    font-size: calc(2.2rem + 4 * (100vw - 320px) / 379);
    display: inline-block;
    position: relative;
  }
  .main .live__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .live__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .live__text::before {
    position: absolute;
    content: "";
    right: -8px;
    bottom: -8px;
    width: 100%;
    height: 7px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .live__text::after {
    position: absolute;
    content: "";
    right: -8px;
    top: 7px;
    width: 7px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .live__imgbox {
    width: 100%;
    height: 100%;
  }
  .main .live__imgbox-img {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .main .live {
    margin-bottom: 160px;
  }
  .main .live__flex {
    width: 100%;
  }
  .main .live__textbox {
    width: 100%;
    margin-bottom: 80px;
  }
  .main .live__sectitle {
    margin-bottom: 40px;
  }
  .main .live__sectitle-en {
    font-size: calc(7.4rem + 2 * (100vw - 600px) / 424);
    display: block;
    line-height: 1;
  }
  .main .live__sectitle-ja {
    font-size: calc(2.4rem + 2 * (100vw - 600px) / 424);
    display: inline-block;
    position: relative;
  }
  .main .live__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .live__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .live__text::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .live__text::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .live__imgbox {
    width: 100%;
    height: 100%;
  }
  .main .live__imgbox-img {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .main .live {
    margin-bottom: 240px;
  }
  .main .live__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .main .live__textbox {
    width: 500px;
    height: 300px;
  }
  .main .live__sectitle {
    margin-bottom: 40px;
  }
  .main .live__sectitle-en {
    font-size: 8rem;
    display: block;
    line-height: 1;
  }
  .main .live__sectitle-ja {
    font-size: 3rem;
    display: inline-block;
    position: relative;
  }
  .main .live__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .live__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .live__text::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .live__text::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .live__imgbox {
    width: 100%;
    height: 100%;
  }
  .main .live__imgbox-img {
    width: 100%;
    height: 25vw;
  }
}
.main .mask-wrap {
  overflow: hidden;
}
.main .mask-wrap .mask {
  position: relative;
  left: -100%;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.main .mask-wrap .mask .mask-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F8F6F5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.main .fadeIn {
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}
.main .is-show {
  opacity: 1;
}
@media screen and (max-width: 599px) {
  .main .news {
    width: 86%;
    margin: 0 auto 120px;
  }
  .main .news__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .main .news__imgbox {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .news__imgbox-img {
    width: 100%;
    height: 100%;
  }
  .main .news__textbox {
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 60px;
  }
  .main .news__sectitle {
    margin-bottom: 40px;
  }
  .main .news__sectitle-en {
    font-size: calc(5rem + 4 * (100vw - 320px) / 379);
    display: block;
    line-height: 1;
  }
  .main .news__sectitle-ja {
    font-size: calc(2.2rem + 4 * (100vw - 320px) / 379);
    display: inline-block;
    position: relative;
  }
  .main .news__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .main .news__item {
    width: 44%;
    height: 50vw;
    border: 1px solid #000;
    position: relative;
  }
  .main .news__item:hover {
    top: 5px;
    opacity: 0.7;
  }
  .main .news__item::before {
    position: absolute;
    content: "";
    right: -8px;
    bottom: -8px;
    width: 100%;
    height: 7px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .news__item::after {
    position: absolute;
    content: "";
    right: -8px;
    top: 7px;
    width: 7px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .news__item-link {
    display: block;
    height: 30vw;
    width: 100%;
  }
  .main .news__item-img {
    width: 100%;
  }
  .main .news__item-title {
    display: block;
    color: #000;
    padding-left: 16px;
  }
  .main .news__item-date {
    display: block;
    color: #000;
    padding-left: 16px;
  }
  .main .news__box {
    text-align: right;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .main .news {
    width: 86%;
    margin: 0 auto 160px;
  }
  .main .news__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .main .news__imgbox {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .news__imgbox-img {
    width: 100%;
    height: 100%;
  }
  .main .news__textbox {
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 40px;
  }
  .main .news__sectitle {
    margin-bottom: 40px;
  }
  .main .news__sectitle-en {
    font-size: calc(7.4rem + 2 * (100vw - 600px) / 424);
    display: block;
    line-height: 1;
  }
  .main .news__sectitle-ja {
    font-size: calc(2.4rem + 2 * (100vw - 600px) / 424);
    display: inline-block;
    position: relative;
  }
  .main .news__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .main .news__item {
    width: 44%;
    height: 50vw;
    border: 1px solid #000;
    position: relative;
  }
  .main .news__item:hover {
    top: 5px;
    opacity: 0.7;
  }
  .main .news__item::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .news__item::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .news__item-link {
    display: block;
    height: 30vw;
    width: 100%;
  }
  .main .news__item-img {
    width: 100%;
  }
  .main .news__item-title {
    display: block;
    color: #000;
    padding-left: 16px;
  }
  .main .news__item-date {
    display: block;
    color: #000;
    padding-left: 16px;
  }
  .main .news__box {
    text-align: right;
  }
}
@media screen and (min-width: 1025px) {
  .main .news {
    padding: 0 80px;
    margin-bottom: 160px;
  }
  .main .news__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .main .news__imgbox {
    width: 100%;
  }
  .main .news__imgbox-img {
    width: 100%;
    height: 25vw;
  }
  .main .news__textbox {
    width: 50%;
  }
  .main .news__sectitle {
    margin-bottom: 40px;
  }
  .main .news__sectitle-en {
    font-size: 8rem;
    display: block;
    line-height: 1;
  }
  .main .news__sectitle-ja {
    font-size: 3rem;
    display: inline-block;
    position: relative;
  }
  .main .news__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .main .news__item {
    width: 44%;
    height: 25vw;
    border: 1px solid #000;
    position: relative;
  }
  .main .news__item:hover {
    top: 11px;
    left: 11px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .news__item:hover::before {
    display: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .news__item:hover::after {
    display: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .news__item::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .news__item::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .news__item-link {
    display: block;
    height: 25vw;
    width: 100%;
  }
  .main .news__item-img {
    width: 100%;
  }
  .main .news__item-title {
    display: block;
    color: #000;
    padding-left: 16px;
  }
  .main .news__item-date {
    display: block;
    color: #000;
    padding-left: 16px;
  }
  .main .news__box {
    text-align: right;
  }
}
@media screen and (max-width: 599px) {
  .main .first {
    margin-bottom: 120px;
  }
  .main .first__textbox {
    width: 100%;
    height: 300px;
    margin-bottom: 80px;
  }
  .main .first__sectitle {
    margin-bottom: 40px;
  }
  .main .first__sectitle-en {
    font-size: calc(5rem + 4 * (100vw - 320px) / 379);
    display: block;
    line-height: 1;
  }
  .main .first__sectitle-ja {
    font-size: calc(2.2rem + 4 * (100vw - 320px) / 379);
    display: inline-block;
    position: relative;
  }
  .main .first__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .first__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .first__text::before {
    position: absolute;
    content: "";
    right: -8px;
    bottom: -8px;
    width: 100%;
    height: 7px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .first__text::after {
    position: absolute;
    content: "";
    right: -8px;
    top: 7px;
    width: 7px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .first__imgbox {
    width: 100%;
  }
  .main .first__imgbox-img {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .main .first {
    margin-bottom: 160px;
  }
  .main .first__textbox {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
  }
  .main .first__sectitle {
    margin-bottom: 40px;
  }
  .main .first__sectitle-en {
    font-size: calc(7.4rem + 2 * (100vw - 600px) / 424);
    display: block;
    line-height: 1;
  }
  .main .first__sectitle-ja {
    font-size: calc(2.4rem + 2 * (100vw - 600px) / 424);
    display: inline-block;
    position: relative;
  }
  .main .first__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .first__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .first__text::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .first__text::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .first__imgbox {
    width: 100%;
  }
  .main .first__imgbox-img {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .main .first {
    margin-bottom: 160px;
  }
  .main .first__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .first__textbox {
    width: 500px;
    height: 300px;
  }
  .main .first__sectitle {
    margin-bottom: 40px;
  }
  .main .first__sectitle-en {
    font-size: 8rem;
    display: block;
    line-height: 1;
  }
  .main .first__sectitle-ja {
    font-size: 3rem;
    display: inline-block;
    position: relative;
  }
  .main .first__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .first__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .first__text::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .first__text::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .first__imgbox {
    width: 100%;
  }
  .main .first__imgbox-img {
    width: 100%;
    height: 25vw;
  }
}
@media screen and (max-width: 599px) {
  .main .about {
    width: 86%;
    margin: 0 auto 120px;
  }
  .main .about__imgbox {
    width: 100%;
  }
  .main .about__imgbox-img {
    width: 100%;
    height: 50vw;
  }
  .main .about__textbox {
    width: 100%;
  }
  .main .about__sectitle {
    margin-bottom: 40px;
  }
  .main .about__sectitle-en {
    font-size: calc(5rem + 4 * (100vw - 320px) / 379);
    display: block;
    line-height: 1;
  }
  .main .about__sectitle-ja {
    font-size: calc(2.2rem + 4 * (100vw - 320px) / 379);
    display: inline-block;
    position: relative;
  }
  .main .about__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .about__item {
    width: 46%;
    height: 24vw;
    margin-bottom: 10vw;
    border: 1px solid #000;
    position: relative;
  }
  .main .about__item:hover {
    top: 5px;
  }
  .main .about__item::before {
    position: absolute;
    content: "";
    right: -8px;
    bottom: -8px;
    width: 100%;
    height: 7px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .about__item::after {
    position: absolute;
    content: "";
    right: -8px;
    top: 7px;
    width: 7px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .about__item-link {
    display: block;
    height: 13vw;
    width: 100%;
    position: relative;
  }
  .main .about__item-number {
    position: absolute;
    color: #A09A91;
    font-size: calc(2rem + 4 * (100vw - 320px) / 379);
    top: 3px;
    left: 10px;
    line-height: 1;
  }
  .main .about__item-text {
    font-size: calc(1rem + 4 * (100vw - 600px) / 424);
    color: #000;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .main .about {
    width: 86%;
    margin: 0 auto 160px;
  }
  .main .about__imgbox {
    width: 100%;
  }
  .main .about__imgbox-img {
    width: 100%;
    height: 50vw;
  }
  .main .about__textbox {
    width: 100%;
  }
  .main .about__sectitle {
    margin-bottom: 40px;
  }
  .main .about__sectitle-en {
    font-size: calc(7.4rem + 2 * (100vw - 600px) / 424);
    display: block;
    line-height: 1;
  }
  .main .about__sectitle-ja {
    font-size: calc(2.4rem + 2 * (100vw - 600px) / 424);
    display: inline-block;
    position: relative;
  }
  .main .about__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .about__item {
    width: 46%;
    height: 23vw;
    margin-bottom: 48px;
    border: 1px solid #000;
    position: relative;
  }
  .main .about__item:hover {
    top: 5px;
  }
  .main .about__item::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .about__item::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .about__item-link {
    display: block;
    height: 13vw;
    width: 100%;
    position: relative;
  }
  .main .about__item-number {
    position: absolute;
    color: #A09A91;
    font-size: 3rem;
    top: 5px;
    left: 10px;
    line-height: 1;
  }
  .main .about__item-text {
    font-size: calc(1.4rem + 4 * (100vw - 600px) / 424);
    color: #000;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1025px) {
  .main .about {
    padding: 0 100px;
    margin-bottom: 160px;
  }
  .main .about__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .about__imgbox {
    width: 100%;
  }
  .main .about__imgbox-img {
    width: 100%;
    height: 50vw;
  }
  .main .about__textbox {
    width: 48%;
    padding-top: 160px;
  }
  .main .about__sectitle {
    margin-bottom: 40px;
  }
  .main .about__sectitle-en {
    font-size: 8rem;
    display: block;
    line-height: 1;
  }
  .main .about__sectitle-ja {
    font-size: 3rem;
    display: inline-block;
    position: relative;
  }
  .main .about__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .about__item {
    width: 46%;
    height: 13vw;
    margin-bottom: 48px;
    border: 1px solid #000;
    position: relative;
  }
  .main .about__item:hover {
    top: 11px;
    left: 11px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .about__item:hover::before {
    display: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .about__item:hover::after {
    display: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .about__item::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .about__item::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .about__item-link {
    display: block;
    height: 13vw;
    width: 100%;
    position: relative;
  }
  .main .about__item-number {
    position: absolute;
    color: #A09A91;
    font-size: 5rem;
    top: 5px;
    left: 5px;
    line-height: 1;
  }
  .main .about__item-text {
    font-size: 1.7rem;
    color: #000;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 599px) {
  .main .property {
    margin-bottom: 160px;
  }
  .main .property__flex {
    margin-bottom: 80px;
  }
  .main .property__textbox {
    width: 100%;
    height: 300px;
    margin-bottom: 60px;
  }
  .main .property__sectitle {
    margin-bottom: 40px;
  }
  .main .property__sectitle-en {
    font-size: calc(5rem + 4 * (100vw - 320px) / 379);
    display: block;
    line-height: 1;
  }
  .main .property__sectitle-ja {
    font-size: calc(2.2rem + 4 * (100vw - 320px) / 379);
    display: inline-block;
    position: relative;
  }
  .main .property__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .property__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .property__text::before {
    position: absolute;
    content: "";
    right: -8px;
    bottom: -8px;
    width: 100%;
    height: 7px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .property__text::after {
    position: absolute;
    content: "";
    right: -8px;
    top: 7px;
    width: 7px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .property__imgbox {
    width: 100%;
  }
  .main .property__imgbox-img {
    width: 100%;
  }
  .main .property__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .main .property__item {
    width: 46%;
    height: 60vw;
    border: 1px solid #000;
    position: relative;
    margin-bottom: 40px;
  }
  .main .property__item:hover {
    top: 5px;
    opacity: 0.7;
  }
  .main .property__item::before {
    position: absolute;
    content: "";
    right: -8px;
    bottom: -8px;
    width: 100%;
    height: 7px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .property__item::after {
    position: absolute;
    content: "";
    right: -8px;
    top: 7px;
    width: 7px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .property__item-link {
    display: block;
    height: 60vw;
    width: 100%;
  }
  .main .property__item-img {
    width: 100%;
  }
  .main .property__item-title {
    position: relative;
    top: -14px;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #a09a91;
    color: #F8F6F5;
    padding: 4px 0;
    font-size: 1rem;
  }
  .main .property__item-text {
    padding: 0 2px;
    color: #000;
    font-size: 1rem;
  }
  .main .property__box {
    text-align: right;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .main .property {
    margin-bottom: 160px;
  }
  .main .property__flex {
    margin-bottom: 80px;
  }
  .main .property__textbox {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
  }
  .main .property__sectitle {
    margin-bottom: 40px;
  }
  .main .property__sectitle-en {
    font-size: calc(7.4rem + 2 * (100vw - 600px) / 424);
    display: block;
    line-height: 1;
  }
  .main .property__sectitle-ja {
    font-size: calc(2.4rem + 2 * (100vw - 600px) / 424);
    display: inline-block;
    position: relative;
  }
  .main .property__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .property__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .property__text::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .property__text::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .property__imgbox {
    width: 100%;
  }
  .main .property__imgbox-img {
    width: 100%;
  }
  .main .property__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .main .property__item {
    width: 46%;
    height: 60vw;
    border: 1px solid #000;
    position: relative;
    margin-bottom: 40px;
  }
  .main .property__item:hover {
    top: 5px;
    opacity: 0.7;
  }
  .main .property__item::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .property__item::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .property__item-link {
    display: block;
    height: 60vw;
    width: 100%;
  }
  .main .property__item-img {
    width: 100%;
  }
  .main .property__item-title {
    position: relative;
    top: -14px;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #a09a91;
    color: #F8F6F5;
    padding: 10px 0;
    font-size: 1.8rem;
  }
  .main .property__item-text {
    padding: 0 20px;
    color: #000;
  }
  .main .property__box {
    text-align: right;
  }
}
@media screen and (min-width: 1025px) {
  .main .property {
    margin-bottom: 160px;
  }
  .main .property__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .main .property__textbox {
    width: 500px;
    height: 300px;
  }
  .main .property__sectitle {
    margin-bottom: 40px;
  }
  .main .property__sectitle-en {
    font-size: 8rem;
    display: block;
    line-height: 1;
  }
  .main .property__sectitle-ja {
    font-size: 3rem;
    display: inline-block;
    position: relative;
  }
  .main .property__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .property__text {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  .main .property__text::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .property__text::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .property__imgbox {
    width: 50%;
  }
  .main .property__imgbox-img {
    width: 100%;
  }
  .main .property__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
  .main .property__item {
    width: 28%;
    height: 32vw;
    border: 1px solid #000;
    position: relative;
  }
  .main .property__item:hover {
    top: 11px;
    left: 11px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .property__item:hover::before {
    display: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .property__item:hover::after {
    display: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .main .property__item::before {
    position: absolute;
    content: "";
    right: -11px;
    bottom: -11px;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
  }
  .main .property__item::after {
    position: absolute;
    content: "";
    right: -11px;
    top: 10px;
    width: 10px;
    height: 100%;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .main .property__item-link {
    display: block;
    height: 32vw;
    width: 100%;
  }
  .main .property__item-img {
    width: 100%;
  }
  .main .property__item-title {
    position: relative;
    top: -14px;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #a09a91;
    color: #F8F6F5;
    padding: 10px 0;
    font-size: 1.8rem;
  }
  .main .property__item-text {
    padding: 0 20px;
    color: #000;
  }
  .main .property__box {
    text-align: right;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .main .contact {
    background-image: url(/src/img/contact_large.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
  }
  .main .contact__link {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 460px;
    background-color: #a09a91;
    color: #F8F6F5;
    text-align: center;
    padding: 70px 0;
  }
  .main .contact__title {
    font-weight: bold;
    font-size: 3rem;
  }
  .main .contact__text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1025px) {
  .main .contact {
    background-image: url(/src/img/contact_large.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    margin-bottom: 80px;
  }
  .main .contact__link {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 500px;
    background-color: #a09a91;
    color: #F8F6F5;
    text-align: center;
    padding: 80px 0;
  }
  .main .contact__title {
    font-weight: bold;
    font-size: 3rem;
  }
  .main .contact__text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  .main .access {
    width: 86%;
    margin: 0 auto 160px;
  }
  .main .access__sectitle {
    margin-bottom: 40px;
  }
  .main .access__sectitle-en {
    font-size: 8rem;
    display: block;
    line-height: 1;
  }
  .main .access__sectitle-ja {
    font-size: 3rem;
    display: inline-block;
    position: relative;
  }
  .main .access__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .access__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .access iframe {
    width: 100%;
    height: 360px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main .access__list {
    width: 100%;
    font-size: 2rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .main .access {
    width: 1000px;
    margin: 0 auto 160px;
  }
  .main .access__sectitle {
    margin-bottom: 40px;
  }
  .main .access__sectitle-en {
    font-size: 8rem;
    display: block;
    line-height: 1;
  }
  .main .access__sectitle-ja {
    font-size: 3rem;
    display: inline-block;
    position: relative;
  }
  .main .access__sectitle-ja::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #ffff00;
    z-index: -1;
  }
  .main .access__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .access iframe {
    width: 500px;
    height: 360px;
  }
  .main .access__list {
    font-size: 2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1025px) {
  .footer {
    background-color: #9DA2A6;
  }
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0 20px;
    width: 60%;
  }
  .footer__logo-title {
    font-size: 5rem;
    line-height: 1;
    color: #F8F6F5;
  }
  .footer__list-item {
    margin-left: 40px;
  }
  .footer__list-link {
    color: #F8F6F5;
  }
}
.footer .copy {
  text-align: center;
  padding: 10px 0;
}
@media screen and (min-width: 1025px) {
  .footer {
    background-color: #9DA2A6;
  }
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0 20px;
    width: 60%;
  }
  .footer__logo-title {
    font-size: 5rem;
    line-height: 1;
    color: #F8F6F5;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__list-item {
    margin-left: 40px;
  }
  .footer__list-link {
    color: #F8F6F5;
  }
}
.footer .copy {
  text-align: center;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */